.support {
  .item {
    h5 {
      color: $color-green;
      max-width: 90%;
    }

    .desc {
      display: none;
    }

    &.active {
      > .title {
        color: $color-black;
      }

      &:before {
        transform: rotateX(-180deg);
      }
    }
  }

  .bullet {
    height: 7px;
    width: 7px;
    background-color: $color-green;
    border-radius: 50%;
    margin: 0 auto;
  }
}