.support {
  .container {
    // Small
    @media #{$extra-small-and-down} {
      padding: 0 16px;
    }
  }

  .item {
    h5 {
      color: $color-green;
      max-width: 90%;
    }

    .desc {
      display: none;
    }

    &:before{
        cursor: pointer;
    }

    &.active {
      > .title {
        color: $color-black;
      }

      &:before {
        transform: rotateX(-180deg);
      }
    }
  }
}

<<<<<<< HEAD
  .bullet {
    height: 7px;
    width: 7px;
    background-color: $color-green;
    border-radius: 50%;
    margin: 0 auto;
  }
}
=======
#view-faq {
  color: $color-green;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
}
>>>>>>> ba9ef85da3cd101b7a25f0b0c75f2d4cdc9f7130
