.scroll-container {
  width: 100%;
  max-width: 740px;
  margin: auto;
  position: relative;
}

.scroll-text {
  text-align: center;
   
  // Small Screen
  @media #{$extra-small-and-down} {
    text-align: center;
    margin: 30px 0 0;
    padding: 0 30px;

    h1 {
      font-size: $font-smd;
    }

    p {
      font-size: 13px;
    }
  }

  // Medium Up
  @media #{$medium-and-up} {
    float: right;
    width: 100%;
    margin-top: 180px;
    max-width: 320px;
    text-align: left;
  }

  // Medium - Portrait
  @media #{max-width: 768px} and (orientation: portrait) {
    float: none;
    width: 50%;
     margin: 0 auto 40px;
  }

  &.left-text {
    float: left;
  }
}

.section-device {
  width: 50%;
  float: left;

  // Small Screen
  @media #{$small-and-down} {
    width: 100%;
  }
}

.device {
  background-image: url(../images/device-base@2x.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: auto;
  max-width: 280px;
  min-height: 526px;
  position: relative;

  // Mobile Only
  @media #{$extra2-small-and-down} {
    max-width: 240px;
    min-height: 451px;
  }

  // Small Screen
  @media #{$small-and-down} {

    img {
      margin: auto;
      left: 0;
      right: 0;
    }
  }
}

.device-screen {
  width: 220px;
  height: 390px;
  background: #000;
  position: absolute;
  top: 69px;
  left: 30px;

  // Mobile Only
  @media #{$extra2-small-and-down} {
    width: 188px;
    height: 334px;
    top: 59px;
    left: 26px;
  }

  figure {
    box-shadow: 0 0 0 1px #bfece5;
    width: 220px;
    height: 390px;
    background-size: 220px 390px;
    background-repeat: no-repeat;
    margin: 0;

    // Mobile Only
    @media #{$extra2-small-and-down} {
      width: 188px;
      height: 334px;
      background-size: 188px 334px;
    }
  }
}

// App Screens
.screen-1 {
  background-image: url(../images/pear-screen-1@2x.jpg);
}

.screen-2 {
  background-image: url(../images/pear-screen-2@2x.jpg);
}

.screen-3 {
  background-image: url(../images/pear-screen-3@2x.jpg);
}

.screen-4 {
  background-image: url(../images/pear-screen-4@2x.jpg);
}

.screen-5 {
  background-image: url(../images/pear-screen-5@2x.jpg);
}


.video{
  position: absolute;
  width: 220px;
  height: 390px;

     // Mobile Only
    @media #{$extra2-small-and-down} {
      width: 188px;
      height: 334px;
      display: none;
      visibility: hidden;
    }
}