input {
  width: 100%;
  border: none;
  border-bottom: 1px solid $color-grey-lightest2;

  // 20px//
  font-size: $font-smd;
  outline: none;
  padding-bottom: 10px;
  color: $color-grey-light;

  &.input-boxed {
    // height: 51px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.4);

    // 18px //
    font-size: $font-xs;
    outline: 0;
    border: 0;
    padding: 12px 16px;

    // Small Only
    @media #{$extra-small-and-down} {
      // 14px //
      // height: 44px;
      padding: 12px 10px;
    }
  }
}

::-webkit-input-placeholder {
  // WebKit, Blink, Edge
  color: $color-grey-lightest;
}

:-moz-placeholder {
  //Mozilla Firefox 4 to 18
  color: $color-grey-lightest;
  opacity: 1;
}

::-moz-placeholder {
  //Mozilla Firefox 19+
  color: $color-grey-lightest;
  opacity: 1;
}

:-ms-input-placeholder {
  //Internet Explorer 10-11
  color: $color-grey-lightest;
}