.top-nav {
  @media #{$extra-small-and-down} {
    display: none;
  }

  * {
    font-weight: $thin;
    font-size: 13px;
    text-transform: uppercase;
  }

  width: 100%;
  height: 64px;
  position: absolute;
  color: white;
  z-index: 1000;
  transition: 0.3s;

  .nav-item {
    padding-bottom: 19px;
    padding-left: 10px;
    padding-right: 10px;

    &.active {}

    &:hover {
      color: darken(white, 10%);
    }
  }

  .pear-logo {
    display: none;
  }

  &.fixed {
    background-color: white;
    color: $color-grey-light;
    border-bottom: 1px solid rgba(#000, 0.1);
    position: fixed;

    .active {
      color: $color-green;

      &:hover {
        color: lighten($color-green, 10%) !important;
      }
    }

    .nav-container {
      margin-top: 24px;
    }

    .pear-logo {
      display: block;
      background: url("../images/pear-logo-black.svg");
      background-size: cover;
      background-repeat: no-repeat;
      width: 111px;
      float: left;
      height: 27px;
      position: fixed;
      display: block;
      top: 18px;
      left: 32px;

      // Small
      @media #{$extra-small-and-down} {
        left: 24px;
      }
    }

    .nav-item {
      &:hover {
        color: darken($color-grey-light, 10%);
      }
    }
  }

  &.static {
    display: block;

    a {
      text-decoration: none;
      color: $color-grey-light;

      &:hover {
        color: $color-green;
      }
    }

    .nav-container {
      // Small
      @media #{$extra-small-and-down} {
        display: none;
      }
    }

    .burger-menu {
      top: 24px;
      right: 24px;

      .burger-line {
        background: $color-green;
      }
    }
  }

  .nav-container {
    width: 360px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 32px;

    // Medium
    @media #{$large-and-up} {
      margin-top: 48px;
    }

    & > ul {
      display: flex;
      padding: 0;
      justify-content: space-between;
      margin: auto;
      width: 390px;

      li {
        list-style: none;

        &:hover {
          color: darken($color-grey-light, 10%);
        }
      }
    }
  }
}