footer {
  background: rgba(#E8F9F7, 0.6);
  margin-top: 48px;
  padding: 16px 0;

  // Medium
  @media #{$medium-and-up} {
    padding: 32px 0;
  }

  .row {
    align-items: center;

    [class*=' col-'],
    [class^='col-'] {
      padding: 0;
    }
  }

  ul {
    float: left;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
  }

  li {
    float: left;
    font-size: 13px;
    width: auto;
    padding: 8px 0;

    // Small
    @media #{$small-and-down} {
      width: 100%;
    }

    // Medium
    @media #{$medium-and-up} {
      padding: 0 48px 0 0;
    }

    a {
      display: block;
    }
  }

  .footer-social {
    margin-top: 16px;

    // Medium
    @media #{$large-and-up} {
      float: right;
      margin: 0;
      width: auto;
    }

    li {
      padding-right: 16px;

      // Small
      @media #{$small-and-down} {
        width: auto;
      }

      &:last-child {
        // Medium
        @media #{$medium-and-up} {
          padding: 0;
        }
      }

      a {
        font-size: 0;
      }

      svg {
        transform: scale(0.75);
      }
    }
  }
}