pre {
  font-size: 1px;
}

html {
  font-family: $font-primary;
  color: $color-grey-dark;
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  text-decoration: none;
  color: inherit;
}

.clickable {
  cursor: pointer;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  color: $color-grey-dark;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.landing {
  background-color: white;
}

.select-age-home {
  visibility: hidden;
}

hr {
  border-width: 1px 0 0;
  border-color: #d4d7dc;
  border-style: solid;
}

img {
  max-width: 100%;
}

// Content Inner
.content-inner {
  p {
    font-size: 14px;

    a {
      color: $color-green;
      border-bottom: 1px solid $color-green;
    }
  }
}

.content-inner-title {
  border-bottom: 1px solid #e6e6e6;
  padding: 112px 0 32px;
  margin-bottom: 32px;

  // Small
  @media #{$extra-small-and-down} {
    padding-top: 96px;
    margin-bottom: 16px;
  }

  .row {
    align-items: center;
    justify-content: space-between;
  }

  h2 {
    // Small
    @media #{$extra-small-and-down} {
      font-size: 18px;
    }
  }
}

.content-inner-list {
  h5 {
    margin-top: 24px;
    width: 100%;
    line-height: 1.5;
  }

  ul {
    padding-left: 20px;
  }

  li {
    font: {
      size: 14px;
      family: MontserratLight;
    };
    padding-bottom: 16px;
  }

  p {
    // Small
    @media #{$extra-small-and-down} {
      font-size: 12px;
    }
  }
}

.cookies-consent {
  background: #fff;
  border-top: 1px solid rgba(#D8D8D8, 0.7);
  position: fixed;
  padding: 6px 0;
  bottom: 0;
  z-index: 1000;
  width: 100%;

  // Small
  @media #{$extra-small-and-down} {
    padding: 8px 0 24px;
  }

  // Medium
  @media #{$small-and-down} and (orientation: portrait) {
    padding: 8px 0 24px;
  }

  p {
    font-size: 14px;
    margin-right: 24px;

    // Small
    @media #{$extra-small-and-down} {
      margin-right: 0;
    }
  }

  .row {
    align-items: center;

    // Medium
    @media #{$medium-and-up} {
      justify-content: center;
    }

    // Small
    @media #{$extra-small-and-down} {
      justify-content: flex-start;
    }
  }
}